* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
  }
  
h1 {
    font-size: 80px;
  }

#mainContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start
  
  }
