* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
  }
  
h1 {
    font-size: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

#mainContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start
  
  }

  ul {
    padding: 20px;
  }

  div {
    padding: 20px;
  }

  button {
    padding: 10px;
    margin: 10px;
  }

  #countdown {
   font-size: 30px;
   font-weight: bold;
  }

  #health {
    font-size: 30px;
    font-weight: bold;
  }

  #strength {
    font-size: 30px;
    font-weight: bold;
  }